body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* General styles */

body {
    font-family: 'Forte', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Background color */
  }
  
  header {
    background-color: #f2f2f2;
    color: #000000;
    text-align: center;
    padding: 20px 0;
  }
  
  .logo {
    max-width: 200px;
    margin-right: 10px;
    /* Add your logo as a background image */
    /* Replace 'path/to/logo.png' with your actual logo */
    background-image: url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px; /* Adjust the height based on your logo */
    width: 200px; /* Adjust the width based on your logo */
    display: inline-block;
    vertical-align: middle;
  }
  
  .brand-name {
    font-size: 2.5em;
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;
  }
  

.product-details {
  padding: 20px;
}

.product-display {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.product-display img {
  max-width: 30%;
  height: 500;
  margin-bottom: 20px;
}

.product-display h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-display p {
  margin-bottom: 15px;
}

.add-to-cart {
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #3c3c3c;
}

/* Contact info */

.contact-info {
  background-color: #000000;
  padding: 20px;
}

.contact-content {
color:#f2f2f2;
  max-width: 600px;
  margin: 0 auto;
}

.go-to-cart {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .go-to-cart:hover {
    background-color: #383838;
  }